/*Navegacion*/
a{
	color: #353535!important;
}

a:hover{
	color:#2B6044!important;
}

nav{
	border-top:10px solid #2B6044;
	background-color: white;
}

/*Promo1*/
.promo1{
	background: url('../images/banner1.jpg');
	background-size: cover;
	color: #FFFFFF;
}

.promo1__contenedor{
	background-color: #090a0ed4;
	border-radius: 20px;
}

.promo1__contenedor--btn{
	border-radius: 18px;
	padding: 4px 35px;
}

/*Promo2*/
.promo2{
	background: url('../images/stars2.png');
	background-size: cover;
	color: #FFFFFF;
}

.promo2__contenedor{
	background-color: #090a0ed4;
	border-radius: 20px;
}

.promo2__contenedor--btn{
	border-radius: 18px;
	padding: 4px 35px;
}
/*Promo3*/
.promo3{
	background: url('../images/beans.png');
	background-size: cover;
	color: #FFFFFF;
}

.promo3__contenedor{
	background-color: #090a0ed4;
	border-radius: 20px;
}

.promo3__contenedor--btn{
	border-radius: 18px;
	padding: 4px 35px;
}
/*Footer*/
.footer{
	border-bottom: 10px solid #090a0e;
}